.stream-section {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
    margin-left: 1%;
}   

.stream-title{
    display: flex;
    flex-direction: row;
    align-items:center;
}